<div>
  <div id="chart"></div>
  <div class="flex justify-around">
    <button class="bg-sky-500/75 m-2 py-2 px-4 rounded-md font-bold" (click)="initializeLineChart('2022-09-12', '2022-09-13')">One Day</button>
    <button class="bg-sky-500/75 m-2 py-2 px-4 rounded-md font-bold" (click)="initializeLineChart('2022-09-12', '2022-09-14')">Three Days</button>
    <button class="bg-sky-500/75 m-2 py-2 px-4 rounded-md font-bold" (click)="initializeLineChart('2022-09-12', '2022-09-17')">One Week</button>
  </div>
</div>
